@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Treat

<h3 id="header">@Html.Label($"{Model.TreatName}")</h3>

@Html.ActionLink("Add Flavor", "AddFlavor", new { id = Model.TreatId }, new { @id="btn-link" })
@Html.ActionLink("Edit Treat Details", "Edit", new { id = Model.TreatId }, new { @id="btn-link" })
@Html.ActionLink("Remove Treat", "Delete", new { id = Model.TreatId }, new { @id="btn-link" })

<h5>Flavors</h5>
<hr />
@if (@Model.Flavors.Count == 0)
{
  <h5>No Flavors</h5>
} 
else
{
  @foreach(var join in Model.Flavors)
  {
    <h5>@Html.ActionLink($"{join.Flavor.FlavorName}", "Details", "Flavors", new { id = join.Flavor.FlavorId })</h5>
    @if (User.Identity.IsAuthenticated)
    {
      @Html.ActionLink("Remove Flavor", "DeleteFlavor", new { id = join.TreatFlavorId }, new { @id="btn-link" })
    }
  }
}