@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Flavor

<h4>@Html.Label($"{Model.FlavorName}")</h4>
<h4>Add Treat</h4>

@using (@Html.BeginForm())
{
  @Html.HiddenFor(model => model.FlavorId)
  <div class="form-group">
    @Html.Label("Flavor")
    @Html.DropDownList("TreatId", null, new { @class="form-control" })
  </div>
  <input type="submit" value="Add Treat" class="btn btn-outline-dark" />
}
