@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Flavor

<h3 id="header">@Html.Label($"{Model.FlavorName}")</h3>

@Html.ActionLink("Add Flavor", "AddFlavor", new { id = Model.FlavorId }, new { @id="btn-link" })
@Html.ActionLink("Edit Flavor Details", "Edit", new { id = Model.FlavorId }, new { @id="btn-link" })
@Html.ActionLink("Remove Flavor", "Delete", new { id = Model.FlavorId }, new { @id="btn-link" })

<h5>Treats</h5>
<hr />
@if (@Model.Treats.Count == 0)
{
  <h5>No Treats</h5>
} 
else
{
  @foreach(var join in Model.Treats)
  {
    <h5>@Html.ActionLink($"{join.Treat.TreatName}", "Details", "Treats", new { id = join.Treat.TreatId })</h5>
    @if (User.Identity.IsAuthenticated)
    {
      @Html.ActionLink("Remove Treat", "DeleteTreat", new { id = join.TreatId }, new { @id="btn-link" })
    }
  }
}