@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Flavor

<h4 class="view-title">Flavor Details</h4>
<h4 class="view-title">@Html.Label($"{Model.FlavorName}")</h4>

@Html.ActionLink("Edit Flavor Details", "Edit", new { id = Model.FlavorId })
@Html.ActionLink("Remove Flavor", "Delete", new { id = Model.FlavorId })
@Html.ActionLink("Add Treat", "AddTreat", new { id = Model.FlavorId })

<h5>Treats</h5>
<hr />
@if (@Model.Treats.Count == 0)
{
  <h5>No Treats</h5>
} 
else
{
  @foreach(var join in Model.Treats)
  {
    <h5>@Html.ActionLink($"{join.Treat.TreatName}", "Details", "Treats", new { id = join.Treat.TreatId })</h5>
    @if (User.Identity.IsAuthenticated)
    {
      <h7>@Html.ActionLink("Remove Treat", "DeleteTreat", new { id = join.TreatId })</h7>
    }
    <hr />
  }
}