@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Flavor

<h4 class="view-title">@Html.Label($"{Model.FlavorName}")</h4>
<h4 class="view-title">Edit Flavor</h4>
<div class="flex container">
  @using (@Html.BeginForm())
  {
    @Html.HiddenFor(model => model.FlavorId)
    <div class="form-group">
      @Html.Label("Flavor Name")
      @Html.TextBoxFor(model => model.FlavorName, new {@class="form-control"})
    </div>
    <input type="submit" value="Apply Changes" class="btn btn-outline-dark" />
  }
</div>